@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-red__hover {
    @apply hover:border-2 hover:border-red hover:bg-white hover:text-red box-border;
  }
  
}

.border-radius{
      border-radius: 20px 20px 0px 20px;
      padding: 8px 28px;
}
.border-radius__image{
  border-radius: 100px 100px 100px 0px;
  
}
.border-radius__left{
  border-radius: 100px 100px 0px 100px;
  
}
.pattern{
  background-image: url("../../images/pattern.png");
}
.bg-footer{
  background-image: url("../../images/bg.png");
} 


